/* TEXT AND BACKGROUND STYLES */
html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    background-color: #F2F2F2;
}

h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer {
    font-family: 'Bebas Neue', cursive;
}

p,
dd,
li,
nav,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a,
nav span,
menu li,
#social li,
footer {
    font-size: 20px;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

#sidedish {
    background-color: #7ABFBF;
}

#sidedish h1 {
    text-align: center;
}

footer {
    background-color: #ffffff;
}

/* LAYOUT */
body {
    width: 414px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

img {
    width: 100%;
}

form {
    position: relative;
    left: 21%;
    top: -94%;
}

.header {
    position: absolute;
    height: 60px;
    width: 414px;
    box-shadow: 0px 4px 10px gray;
    background-color: white;
}

section h1 {
    padding-left: 10px;
}

#streettacos {
    position: relative;
    top: 5px;
}

#streettacos h1 {
    position: relative;
    top: 63px;
    left: 106px;
}

#streettacos ul {
    display: flex;
    flex-direction: row;
}

#streettacos svg {
    padding-right: 10px;
}

#ingredients li {
    padding: 5px;
}

#details dd {
    position: relative;
    left: 70px;
    bottom: 18px;
}

aside {
    display: flex;
    flex-direction: column;
}

.hgroup {
    height: 200px;
    position: relative;
    bottom: 70px;
}

.hgroup h2 {
    position: relative;
    left: 151px;
    top: 69px;
}

.hgroup img {
    width: 27%;
    padding: 10px;
}

.hgroup dd {
    font-weight: 700;
    position: relative;
    right: 50px;
    top: 7px;
}

.hgroup dt {
    font-weight: 400;
    position: relative;
    right: 10px;
    top: 0px;
}

.hgroup dl {
    position: relative;
    left: 160px;
    bottom: 100px;
}

.hgroup svg {
    position: relative;
    left: 149px;
    top: -102px;
    fill: #EB5428;
}

.fourstars .star5 {
    fill: #ffffff;
}

ol li {
    padding: 10px;
}

#social ul {
    display: flex;
    width: 414px;
    justify-content: space-between;
    position: relative;
    right: 68px;
    bottom: 38px;
}

#social li a {
    position: relative;
    top: 20px;
    left: 50px;
    color: #EB5428;
}

footer img {
    width: 70%;
    position: relative;
    left: 60px;
    bottom: 120px;
}

footer p {
    position: relative;
    left: 3px;
    top: 278px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#search input {
    display: contents;
}

.svg {
    background-color: #EB5428;
    position: absolute;
    top: 0px;
    left: 198px;
    width: 38px;
    height: 42px;
}

#logo {
    /* background-color: #EB5428; */
    position: absolute;
    bottom: -1px;
    left: 17%;
    width: 68%;
}

.logoicon {
    position: relative;
    left: 48px;
    top: -66px;
    width: 67%;
    background: #EB5428;
}

form input {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    width: 48%;
    height: 42px;
    border: 2px solid #EB5428;
}

#details,
#directions,
#ingredients,
#sidedish {
    position: relative;
    top: 60px;
}

/* NAVIGATION */
nav li,
a {
    text-decoration: none;
    list-style-type: none;
}


/* HAMBURGER MENU */

/* Hide the menu content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

/* Display when hover/click on the menu icon */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Style the images */
.dropdown-content img {
    margin-right: 30px;
    width: 60px;
    height: 60px;
    position: relative;
    right: 48px;
    bottom: 20px;
}

/* Style the menu items */
.dropdown-content li {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 12px;
}

/* Align the menu items */
.dropdown-content ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Style the SVG icon */

.dropdown svg {
    position: relative;
    bottom: 16px;
    right: 40px;
}

.dropdown #menu {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #0d0d0d;
}

#streettacos a {
    color: #EB5428;
}

li #avatar {
    position: absolute;
    bottom: -1px;
    left: 89%;
}

#avatartext {
    position: absolute;
    top: 24%;
    right: -25px;
    color: #0d0d0d;
}

.avataricon {
    position: relative;
    bottom: 15px;
    right: 45px;
}

.dropdown-content span {
    color: #EB5428;
}

/*MEDIA QUERIES*/

/* when viewport >= 768px, display css */
@media screen and (min-width:768px) {
    body {
        width: 768px;
    }

    .header {
        height: 185px;
        width: 768px;
    }

    #menu {
        visibility: hidden;
    }

    .logoicon {
        left: -95px;
        top: -200px;
        width: 18%;
    }

    .header a {
        position: relative;
        left: 100px;
        width: 80px;
    }

    #logo {
        display: inline-block;
        bottom: -71px;
        left: 23%;
    }

    .header ul {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 13px;
        left: -83px;
    }

    #avatar {
        position: relative;
        bottom: 120px;
        right: 151px;
    }

    #avatartext {
        top: 61%;
        right: -28px;
        width: 100px;
    }

    .dropdown-content {
        background-color: transparent;
    }

    .dropdown-content span {
        position: relative;
        top: 50px;
        left: 21px;
    }

    .dropdown-content img {
        right: -18px;
        bottom: 37px;
    }

    form {
        left: 48%;
        top: -94%;
    }

    form input {
        width: 32%;
    }

    .svg {
        left: 228px;
    }

    #streettacos {
        top: 34px;
    }

    #streettacos h1 {
        left: 36px;
        top: 144px;
    }

    #streettacos ul {
        position: relative;
        top: 95px;
        background: rgba(255, 255, 255, .7);
        height: 80px;
    }

    #streettacos a {
        position: relative;
        bottom: -22px;
        left: 56px;
        color: #EB5428;
    }


    #streettacos svg {
        padding-right: 88px;
        position: relative;
        top: -17px;
        right: 37px;
    }

    #details {
        left: 40%;
    }

    #directions h1 {
        text-align: center;
    }

    #inlineflex {
        display: inline-flex;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hgroup h2 {
        left: 130px;
    }

    .hgroup dt {
        right: 29px;
    }

    .hgroup dd {
        right: 68px;
    }

    .hgroup svg {
        left: 129px;
    }

    #social ul {
        right: -253px;
        bottom: 2px;
    }

    #footer {
        display: inline-block;
    }

    footer p {
        left: -71px;
        top: 110px;
    }

    #footer img {
        width: 41%;
        left: 76px;
        bottom: 198px;
    }
}

@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }

    .header {
        width: 1280px;
        height: 110px;
    }

    form {
        left: 42%;
        top: -51%;
    }

    .header ul {
        top: -31px;
        left: 45px;
        width: 73%;
    }

    #avatar {
        bottom: 56px;
        right: -156px;
    }

    #avatartext {
        top: 42px;
        right: -132px;
    }

    #logo {
        bottom: -115px;
        left: -2.6%;
    }

    .logoicon {
        top: -150px;
        left: -20px;
        width: 19%;
        height: 110px;
    }


    form input {
        width: 18%;
    }

    #streettacos {
        top: -407px;
    }

    #streettacos h1 {
        text-align: center;
        top: 580px;
    }

    #streettacosgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: -460px;
        z-index: 0;
    }

    #streettacos ul {
        flex-direction: column;
        background: white;
        width: 60px;
        height: 960px;
        border: solid thin #EB5428;
        top: 518px;
        z-index: 1;
    }

    #streettacos a {
        bottom: -20px;
        left: -14px;
    }

    #streettacos svg {
        top: 0px;
        right: 7px;
    }

    #streettacos p {
        padding: 10px;
    }

    #details,
    #directions,
    #ingredients,
    #sidedish {
        top: -868px;
    }

    #grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .hgroup {
        bottom: 105px;
        height: 322px;
    }

    .hgroup img {
        width: 65%;
        position: relative;
        left: 23px;
        bottom: 23px;
    }

    .hgroup h2 {
        top: 279px;
        left: 33px;
    }

    .hgroup dl {
        left: 62px;
        bottom: -9px;
    }

    .hgroup svg {
        left: 35px;
        top: 7px;
    }

    #details {
        left: 0;
        background-color: #0d0d0d;
    }

    #details h1 {
        position: relative;
        left: 50%;
        color: #7ABFBF;
    }

    #details dl {
        display: flex;
        position: relative;
        right: -131px;
        bottom: 32px;
        color: #7ABFBF;
    }

    #details dd {
        position: relative;
        left: -128px;
        bottom: -25px;
    }

    #social ul {
        width: 580px;
        right: -604px;
    }

    footer {
        position: relative;
        bottom: 868px;
    }

    footer p {
        left: 137px;
        top: -107px;
    }
}
  
  /* @media print styles */
  
  @media print {
    body {
      margin: 0.5in;  
      font-family: Times, serif;
    }
  
    img {
      display: none;
    }
  
    /* Replace hyperlinks with their full URL */
    a::after {
      content: " (" attr(href) ")";
    }
  
    nav {
      display: none;
    }

    .header {
        display: none;
    }

    aside {
        display: none;
    }
  
    @page {
      size: 8.5in 11in;
      margin: 0.5in;
    }

  }
  